<!-- Add Product -->
<section class="section-add-product" id="add-product-part">
    <form action="/posts/<%= action %>/<%= productType %><%= (action === "edit") ? `/${post.post.postID}?_method=PUT` : "" %> " method="POST" class="add-product" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control <%=locals.errors && errors.title ? 'is-invalid': null %>" name="title" id="title" value="<%= (locals.post && post.post) ? post.post.title : "" %>">
                    <label for="title">Título</label>
                    <% if (locals.errors && errors.title) { %>
                        <div class="invalid-feedback">
                          <%= errors.title.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-2">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.brand ? 'is-invalid': null %>" id="brand" aria-label="Select brand" name="brandID">
                        <% brands.forEach(brand => { %>
                            <option value=""></option>
                            <option value='<%=brand.brandID%>' <%= (locals.post && post.post && post.post.brandID === brand.brandID)?"selected":"" %>>
                                <%= brand.brandName %>
                            </option>
                        <% }) %>
                    </select>
                    <label for="brand">Marca</label>
                    <% if (locals.errors && errors.brandID) { %>
                        <div class="invalid-feedback">
                          <%= errors.brandID.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.model ? 'is-invalid': null %>" id="model" aria-label="Select model" name="modelID">
                        <% if (action === "edit") { %>
                            <option value='<%= post.post.modelID %>' selected>
                                <%= post.post.modelName %>
                            </option>
                        <% } %>
                    </select>
                    <label for="model">Modelo</label>
                    <% if (locals.errors && errors.modelID) { %>
                        <div class="invalid-feedback">
                          <%= errors.modelID.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control <%=locals.errors && errors.partSerialNumber ? 'is-invalid': null %>" name="partSerialNumber" id="partSerialNumber" value="<%= (locals.post && post.post) ? post.post.partSerialNumber : "" %>">
                    <label for="partSerialNumber">Número de parte</label>
                    <% if (locals.errors && errors.partSerialNumber) { %>
                        <div class="invalid-feedback">
                          <%= errors.partSerialNumber.msg %>
                        </div>
                    <% } %>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-floating mb-1 <%=locals.errors && errors.vehicleType ? 'is-invalid': null %>" id="vehicleType" aria-label="Select Vehicle Type">
                    <p>Tipo de vehículo</p>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="car" id="car" <%= locals.post && post.post && post.post.car ? "checked" : "" %>>
                        <label for="car">Auto</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="pickup" id="pickup" <%= locals.post && post.post && post.post.pickup ? "checked" : "" %>>
                        <label for="pickup">Camioneta</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="motorcycle" id="motorcycle" <%= locals.post && post.post && post.post.motorcycle ? "checked" : "" %>>
                        <label for="motorcycle">Moto</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="truck" id="truck" <%= locals.post && post.post && post.post.truck ? "checked" : "" %>>
                        <label for="truck">Camión</label>
                    </div>
                    <% if (locals.errors && errors.vehicleType) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleType.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control <%=locals.errors && errors.price ? 'is-invalid': null %>" name="price" id="partPrice" value="<%= (locals.post && post.post) ? post.post.price : "" %>">
                    <label for="partPrice">Precio</label>
                    <% if (locals.errors && errors.price) { %>
                        <div class="invalid-feedback">
                          <%= errors.price.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" name="discount" id="partDiscount" class="form-control <%=locals.errors && errors.discount ? 'is-invalid': null %>" value="<%= (locals.post && post.post) ? post.post.discount : 0 %>">
                    <label for="discount">Descuento %</label>
                    <% if (locals.errors && errors.discount) { %>
                        <div class="invalid-feedback">
                          <%= errors.discount.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.provinceID ? 'is-invalid': null %>" id="province" aria-label="Select province" name="provinceID">
                        <option value=""></option>
                        <% for(province of provinces){ %>
                            <option value='<%=province.provinceID%>' <%= (locals.post && post.location && post.location.provinceID === province.provinceID) ? "selected" : "" %>>
                                <%= province.provinceName %>
                            </option>
                            <% } %>
                    </select>
                    <label for="province">Provincia</label>
                    <% if (locals.errors && errors.provinceID) { %>
                        <div class="invalid-feedback">
                          <%= errors.provinceID.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.locationID ? 'is-invalid': null %>" id="location" aria-label="Select city" name="locationID">
                        <% if (locals.post && post.location) { %>
                            <option value="<%= post.location.locationID %>"><%= post.location.localityName %> </option>  
                        <% } %>
                    </select>
                    <label for="location">Ciudad</label>
                    <% if (locals.errors && errors.locationID) { %>
                        <div class="invalid-feedback">
                          <%= errors.locationID.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control <%=locals.errors && errors.postalCode ? 'is-invalid': null %>" name="postalCode" id="postalCode" value="<%= (locals.post && post.location && post.location.postalCode) ? post.location.postalCode : "" %>">
                    <label for="postalCode">Código Postal</label>
                    <% if (locals.errors && errors.postalCode) { %>
                        <div class="invalid-feedback">
                          <%= errors.postalCode.msg %>
                        </div>
                    <% } %>
                </div>                
            </div>
        </div>    
        <div class="row">
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1 <%=locals.errors && errors.partState ? 'is-invalid': null %>" id="partState" aria-label="Select Part State">
                    <p>Estado</p>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="state" id="partStateNew" value="Nuevo" <%= (locals.post && post.post && post.post.state === "Nuevo")?"checked":"" %>>
                        <label for="partStateNew">Nuevo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="state" id="partStateUsed" value="Usado" <%= (locals.post && post.post && post.post.state === "Usado")?"checked":"" %>>
                        <label for="partStateUsed">Usado</label>
                    </div>
                    <% if (locals.errors && errors.state) { %>
                        <div class="invalid-feedback">
                          <%= errors.state.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" name="stock" id="stock" class="form-control <%=locals.errors && errors.stock ? 'is-invalid': null %>" value="<%= locals.post && post.post && post.post.stock ? post.post.stock : "" %>">
                    <label for="stock">Stock</label>
                    <% if (locals.errors && errors.stock) { %>
                        <div class="invalid-feedback">
                          <%= errors.stock.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <!--
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    
                    <div name="rating" id="rating">
                        <p>Rating</p>
                        <span>
                            <label for="">
                                <input type="radio" name="rating" value="1" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="2" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="3" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="4" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="5" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                        </span>
                    </div>
                    
                    <input type="number" name="rating" id="rating">
                    <label for="rating">Rating</label>
                </div>
            </div>
            -->
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control <%=locals.errors && errors.rating ? 'is-invalid': null %>" placeholder="" id="rating" name="rating"
                    value="<%= (locals.post && post.post && post.post.rating) ? post.post.rating : "" %>"></input>
                    <label for="rating">Rating      
                        <% if (locals.post && post.post && post.post.rating) { %>
                            <% for( let i = 0; i < post.post.rating; i++ ) { %>
                                <i class="fas fa-star"></i>
                            <% } %>
                            <% if (post.post.rating < 5 ) { %>
                                <% for( let i = 0; i < (5 - post.post.rating); i++ ) { %>
                                    <i class="far fa-star"></i>
                                <% } %>
                            <% } %>
                        <% } %>                        
                        <% if (!locals.post.post) { %>
                            <% for( let i = 0; i < 5; i++ ) { %>
                                <i class="far fa-star"></i>
                            <% } %>
                        <% } %>

                    </label>
                    <% if (locals.errors && errors.rating) { %>
                        <div class="invalid-feedback">
                          <%= errors.rating.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-floating mb-1">
                    <textarea class="form-control <%=locals.errors && errors.description ? 'is-invalid': null %>" name="description" id="description"><%= locals.post && post.post && post.post.description ? post.post.description : "" %></textarea>
                    <label for="description">Descripción</label>
                    <% if (locals.errors && errors.description) { %>
                        <div class="invalid-feedback">
                          <%= errors.description.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% if (action === "create") { %>
            <div class="row">
                <div class="col-md">
                    <div class="form-floating mb-1">
                        <input type="file" name="images" id="images" class="form-control input-file" multiple>
                        <label for="images">Seleccione hasta 5 imágenes para su producto</label>
                    </div>
                </div>
            </div>
        <% } else if (action === "edit") { %>
            <div class="row">
                <div class="form-floating mb-1">
                    <input type="file" name="images" id="images" class="form-control input-file" multiple>
                    <label for="images">Seleccione imágenes (hasta 5 en total) para su producto</label>
                </div>
                <div class="current-product-images">
                    <p>Imagenes actuales</p>
                <% for( let i = 0; i < 5; i++ ) { %>
                    <div class="current-product-image-container">
                        <ul>
                            <li>
                                <% if (post.images[i] && post.images[i] !== "no-image-found.jpeg") { %>
                                    <img src="<%= post.images.length && (post.images)[i].imageURL.includes("http") ? post.images[i].imageURL : `/img/posts/${post.images[i].imageURL}` %>" alt="image-product-<%= i %>" class="edit-product-img">
                                    <a class="btn btn-danger" href="<%- `/posts/deleteImage/${productType}/${post.post.postID}?image=${post.images[i].imageURL}` %>">
                                        Borrar
                                    </a>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                <% } %>
                </div>
            </div>
        <% } %>
        <!-- Buttons Section -->
        <div class="container-fluid d-flex container-add-product-cta">
            <div class="add-product-cta"><button class="add-product-reset btn-lg" type="reset">Resetear</button></div>
            <div class="add-product-cta"><button class="add-product-confirm btn-lg" type="submit" name="submit" value="publish">Guardar y Publicar</button></div>           
            <div class="add-product-cta"><button class="add-product-save btn-lg" type="submit" name="submit" value="save">Guardar</button></div>
        </div>
    </form>
    <% if (action === "edit") { %>
        <form action="/posts/delete/<%= post.post.adID %>?_method=DELETE" method="POST">
            <div class="add-product-cta"><button class="add-product-delete btn-lg" type="submit" name="delete">Borrar</button></div>
        </form>
    <% } %>
</section>
<script src="/js/getPartModels.js"></script>
<script src="/js/getLocalities.js"></script>