<!-- Add Product -->
<section class="section-add-product" id="add-product-part">
    <form action="/products/<%= action %>/<%= productType %><%= (action === "edit") ? `/${product.adID}?_method=PUT` : "" %> " method="POST" class="add-product" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" name="partTitle" id="partTitle" value="<%= product.title %>">
                    <label for="partTitle">Título</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-2">
                <div class="form-floating mb-1">
                    <select class="form-select" id="partBrand" aria-label="Select brand" name="partBrand">
                        <% brands.forEach(brand => { %>
                            <option value='<%= brand.brandID %>' <%= (product.brandID === brand.brandID) ? "selected" : "" %>>
                                <%= brand.brandName %>
                            </option>
                        <% }) %>
                    </select>
                    <label for="partBrand">Marca</label>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <select class="form-select" id="partModel" aria-label="Select model" name="partModel">
                        <% models.forEach(model => { %>
                            <option value="<%= model.modelID %>" <%= (product.modelID === model.modelID) ? "selected" : "" %>>
                                <%= model.modelName %>
                            </option>
                        <% }) %>
                    </select>
                    <label for="partModel">Modelo</label>
                </div>
            </div>
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" name="partID" id="partID" value="<%= product.partID %>">
                    <label for="partID">Número de parte</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-floating mb-1" id="partVehicleType" aria-label="Select Vehicle Type">
                    <p>Tipo de vehículo</p>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="partVehicleTypeCar" id="partVehicleTypeCar" <% if(product.vehicleType){if(product.vehicleType.car){ %><%= "checked" %><%}} %>>
                        <label for="partVehicleTypeCar">Auto</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="partVehicleTypePickup" id="partVehicleTypePickup" <% if(product.vehicleType){if(product.vehicleType.pickup){ %><%= "checked" %><%}} %>>
                        <label for="partVehicleTypePickup">Camioneta</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="partVehicleTypeMotorcycle" id="partVehicleTypeMotorcycle" <% if(product.vehicleType){if(product.vehicleType.motorcycle){ %><%= "checked" %><%}} %>>
                        <label for="partVehicleTypeMotorcycle">Moto</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="partVehicleTypeTruck" id="partVehicleTypeTruck" <% if(product.vehicleType){if(product.vehicleType.truck){ %><%= "checked" %><%}} %>>
                        <label for="partVehicleTypeTruck">Camión</label>
                    </div>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control" name="partPrice" id="partPrice" value="<%= (product.price) %>">
                    <label for="partProvince">Precio</label>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" name="discount" id="discount" class="form-control" value="<%= (product.onSale) ? product.onSale.discount : 0 %>">
                    <label for="discount">Descuento %</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" name="partProvince" id="partProvince" value="<%= (product.location) ? product.location.province : "" %>">
                    <label for="partProvince">Provincia</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" name="partCity" id="partCity" value="<%= (product.location) ? product.location.city : "" %>">
                    <label for="partCity">Ciudad</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" name="partNeighbourhood" id="partNeighbourhood" value="<%= (product.location) ? product.location.neighbourhood : "" %>">
                    <label for="partNeighbourhood">Barrio</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" name="partPostalCode" id="partPostalCode" value="<%= (product.location) ? product.location.postalCode : "" %>">
                    <label for="partPostalCode">Código Postal</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <input type="file" name="partImage1" id="partImage1" class="form-control" value="<%= (product.imageURLs) ? product.imageURLs[0] : "" %>">
                    <label for="partImage1">Image URL</label>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <input type="file" name="partImage2" id="partImage2" class="form-control" value="<%= (product.imageURLs) ? product.imageURLs[1] : "" %>">
                    <label for="partImage2">Image URL</label>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <input type="file" name="partImage3" id="partImage3" class="form-control" value="<%= (product.imageURLs) ? product.imageURLs[2] : "" %>">
                    <label for="partImage3">Image URL</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1" id="partState" aria-label="Select Part State">
                    <p>Estado</p>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="partState" id="partStateNew" value="Nuevo" <%= (product.state === "Nuevo")?"checked":"" %>>
                        <label for="partStateNew">Nuevo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="partState" id="partStateUsed" value="Usado" <%= (product.state === "Usado")?"checked":"" %>>
                        <label for="partStateUsed">Usado</label>
                    </div>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" name="stock" id="stock" class="form-control" value="<%= product.stock %>">
                    <label for="stock">Stock</label>
                </div>
            </div>
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    <div name="rating" id="rating">
                        <p>Rating</p>
                        <p>
                            <% for( let i = 0; i < product.rating; i++ ) { %>
                                <i class="fas fa-star"></i>
                            <% } %>
                            <% if (product.rating < 5 ) { %>
                                <% for( let i = 0; i < (5 - product.rating); i++ ) { %>
                                    <i class="far fa-star"></i>
                                <% } %>
                            <% } %>
                            <% if (!product.rating) { %>
                                <% for( let i = 0; i < 5; i++ ) { %>
                                    <i class="far fa-star"></i>
                                <% } %>
                            <% } %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-floating mb-1">
                    <textarea class="form-control" name="partDescription" id="partDescription"><%= product.description %></textarea>
                    <label for="partDescription">Descripción</label>
                </div>
            </div>
        </div>
        <!-- Buttons Section -->
        <div class="container-fluid d-flex container-add-product-cta">
            <div class="add-product-cta"><button class="add-product-reset btn-lg" type="reset">Resetear</button></div>
            <div class="add-product-cta"><button class="add-product-confirm btn-lg" type="submit" name="submit" value="publish">Guardar y Publicar</button></div>           
            <div class="add-product-cta"><button class="add-product-save btn-lg" type="submit" name="submit" value="save">Guardar</button></div>
        </div>
    </form>
    <% if (action === "edit") { %>
        <form action="/products/delete/<%= productType %>/<%= product.adID %>?_method=DELETE" method="POST">
            <div class="add-product-cta"><button class="add-product-delete btn-lg" type="submit" name="delete">Borrar</button></div>
        </form>
    <% } %>
</section>