<div class="container-fluid container-registration-form text-center">
  <form action="/users/<%= action %>/<%= action =='edit' ? `${user.userID}?_method=PUT`: '' %>" method="POST" class="form-registration" enctype="multipart/form-data">
    <div class="form-floating mb-1">
      <input type="text" class="form-control registration-field <%=locals.errors && errors.userName ? 'is-invalid': null %> " id="userName" name="userName" placeholder="Usuario" value="<%= locals.old && old.userName ? old.userName : action =='edit' ? user.userName : null %>" />
      <label for="userName">Usuario</label>
      <% if (locals.errors && errors.userName) { %>
        <div class="invalid-feedback">
          <%= errors.userName.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="text" class="form-control registration-field <%=locals.errors && errors.email ? 'is-invalid':null %> " id="email" name="email" placeholder="email@host.com" value="<%= locals.old && old.email ? old.email : null %>" />
      <label for="email">Email</label>
      <% if (locals.errors && errors.email) { %>
        <div class="invalid-feedback">
          <%= errors.email.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="text" class="form-control registration-field <%=locals.errors && errors.first_name ? 'is-invalid':null %> " id="first_name" name="first_name" placeholder="Tu Nombre" value="<%= locals.old && old.first_name ? old.first_name : null %>" />
      <label for="first_name">Nombre</label>
      <% if (locals.errors && errors.first_name) { %>
        <div class="invalid-feedback">
          <%= errors.first_name.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="text" class="form-control registration-field <%=locals.errors && errors.last_name ? 'is-invalid':null %> " id="last_name" name="last_name" placeholder="Tu Apellido" value="<%= locals.old && old.last_name ? old.last_name : null %>" />
      <label for="last_name">Apellido</label>
      <% if (locals.errors && errors.last_name) { %>
        <div class="invalid-feedback">
          <%= errors.last_name.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="text" class="form-control registration-field <%=locals.errors && errors.id_number ? 'is-invalid':null %> " id="id_number" name="id_number" placeholder="DNI" value="<%= locals.old && old.id_number ? old.id_number : null %>" />
      <label for="id_number">DNI</label>
      <% if (locals.errors && errors.id_number) { %>
        <div class="invalid-feedback">
          <%= errors.id_number.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="text" class="form-control registration-field <%=locals.errors && errors.telephone ? 'is-invalid':null %> " id="telephone" name="telephone" placeholder="+5491133048054" value="<%= locals.old && old.telephone ? old.telephone : null %>" />
      <label for="telephone">Teléfono</label>
      <% if (locals.errors && errors.telephone) { %>
        <div class="invalid-feedback">
          <%= errors.telephone.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="text" class="form-control registration-field <%=locals.errors && errors.province ? 'is-invalid':null %> " id="province" name="province" placeholder="province" value="<%= locals.old && old.province ? old.province : null %>" />
      <label for="province">Provincia</label>
      <% if (locals.errors && errors.province) { %>
        <div class="invalid-feedback">
          <%= errors.province.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="text" class="form-control registration-field <%=locals.errors && errors.city ? 'is-invalid':null %> " id="city" name="city" placeholder="ciudad" value="<%= locals.old && old.city ? old.city : null %>" />
      <label for="city">Ciudad</label>
      <% if (locals.errors && errors.city) { %>
        <div class="invalid-feedback">
          <%= errors.city.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="text" class="form-control registration-field <%=locals.errors && errors.neighbourhood ? 'is-invalid':null %> " id="neighbourhood" name="neighbourhood" placeholder="barrio" value="<%= locals.old && old.neighbourhood ? old.neighbourhood : null %>" />
      <label for="neighbourhood">Barrio</label>
      <% if (locals.errors && errors.neighbourhood) { %>
        <div class="invalid-feedback">
          <%= errors.neighbourhood.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="text" class="form-control registration-field <%=locals.errors && errors.postal_code ? 'is-invalid':null %> " id="postal_code" name="postal_code" placeholder="Código Postal" value="<%= locals.old && old.postal_code ? old.postal_code : null %>" />
      <label for="postal_code">Código Postal</label>
      <% if (locals.errors && errors.postal_code) { %>
        <div class="invalid-feedback">
          <%= errors.postal_code.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="password" class="form-control registration-field <%=locals.errors && errors.password ? 'is-invalid':null %>" id="password" name="password" placeholder="Password" value="<%= locals.old && old.password ? old.password : null %>" />
      <label for="password">Contraseña</label>
      <% if (locals.errors && errors.password) { %>
        <div class="invalid-feedback">
          <%= errors.password.msg %>
        </div>
        <% } %>
    </div>
    <div class="form-floating mb-1">
      <input type="file" class="form-control <%=locals.errors && errors.image ? 'is-invalid':null %>" id="image" name="image" single>
      <% if (locals.errors && errors.image) { %>
        <div class="invalid-feedback">
          <%= errors.image.msg %>
        </div>
        <% } %>
    </div>
    <div class="container-fluid d-flex container-registration-cta">
      <div class="registration-cta">
        <% if (action=="register") { %>
        <a href="/users/login"><button type="button" class="btn-danger btn-lg btn-login me-2">
            Login
          </button></a>
        <% } %>
        <% if (action=="edit") { %>
        <a href="/users/"><button type="button" class="btn-danger btn-lg btn-login me-2">
            delete
          </button></a>
        <% } %>
      </div>
      <div class="registration-cta"><button class="btn-registration-confirm btn-lg" type="submit">Confirmar</button></div>
    </div>
  </form>
</div>