<div class="container-fluid container-registration-form text-center">
  <form action="/users/<%= action %>/<%= action =='edit' ? `${user.userID}?_method=PUT`: '' %>" method="POST" class="form-registration" enctype="multipart/form-data">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <input type="text" class="form-control registration-field <%=locals.errors && errors.userName ? 'is-invalid': null %> " id="userName" name="userName" placeholder="Usuario" value="<%= locals.old && old.userName ? old.userName : action =='edit' || action=='view'? user.userName : null %>" <%=action==='view'? "disabled":''%>/>
          <label for="userName">Usuario</label>
          <% if (locals.errors && errors.userName) { %>
            <div class="invalid-feedback">
              <%= errors.userName.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-userName"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <input type="text" class="form-control registration-field <%=locals.errors && errors.email ? 'is-invalid':null %> " id="email" name="email" placeholder="email@host.com" value="<%= locals.old && old.email ? old.email : action=='edit' || action=='view' ? user.email: null %>" <%=action==='view'? "disabled":''%>/>
          <label for="email">Email</label>
          <% if (locals.errors && errors.email) { %>
            <div class="invalid-feedback">
              <%= errors.email.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-email"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <input type="text" class="form-control registration-field <%=locals.errors && errors.firstName ? 'is-invalid':null %> " id="firstName" name="firstName" placeholder="Tu Nombre" value="<%= locals.old && old.firstName ? old.firstName : action=='edit' || action=='view' ? user.firstName: null %>" <%=action==='view'? "disabled":''%>/>
          <label for="firstName">Nombre</label>
          <% if (locals.errors && errors.firstName) { %>
            <div class="invalid-feedback">
              <%= errors.firstName.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-firstName"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <input type="text" class="form-control registration-field <%=locals.errors && errors.lastName ? 'is-invalid':null %> " id="lastName" name="lastName" placeholder="Tu Apellido" value="<%= locals.old && old.lastName ? old.lastName : action == 'edit' || action=='view' ? user.lastName : null %>" <%=action==='view'? "disabled":''%>/>
          <label for="lastName">Apellido</label>
          <% if (locals.errors && errors.lastName) { %>
            <div class="invalid-feedback">
              <%= errors.lastName.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-lastName"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <input type="text" class="form-control registration-field <%=locals.errors && errors.dni ? 'is-invalid':null %> " id="dni" name="dni" placeholder="DNI" value="<%= locals.old && old.dni ? old.dni : action == 'edit' || action=='view' ? user.dni : null %>" <%=action==='view'? "disabled":''%>/>
          <label for="dni">DNI</label>
          <% if (locals.errors && errors.dni) { %>
            <div class="invalid-feedback">
              <%= errors.dni.msg %>
            </div>
            <% } %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <input type="text" class="form-control registration-field <%=locals.errors && errors.telephone ? 'is-invalid':null %> " id="telephone" name="telephone" placeholder="+5491133048054" value="<%= locals.old && old.telephone ? old.telephone : action == 'edit' || action=='view' ? user.telephone :null %>" <%=action==='view'? "disabled":''%>/>
          <label for="telephone">Teléfono</label>
          <% if (locals.errors && errors.telephone) { %>
            <div class="invalid-feedback">
              <%= errors.telephone.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-telephone"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <select type="form-select" class="form-control registration-field <%=locals.errors && errors.province ? 'is-invalid':null %> " 
            aria-label="Select province" id="province" name="province" placeholder="provincia" <%=action==='view'? "disabled" :''%>>
            <% if (action=='view') { %>
            <option value="<%=user.provinceID%>"><%= user.provinceName%> </option> 
            <% } else if(action =='edit' || action =='register') { %>
              <option value=""></option>
              <% for( province of provinces) { %>
                <option value='<%=province.provinceID%>' <%=(locals.user && user.provinceID===province.provinceID) ? "selected" : "" %>>
                  <%= province.provinceName%>
                </option>
              <% } %>
            <% } %>
          </select>
          <label for="province">Provincia</label>
          <% if (locals.errors && errors.province) { %>
            <div class="invalid-feedback">
              <%= errors.province.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-province"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <select type ="form-select" class = "form-control registration-field <%=locals.errors &&  errors.location ? 'is-invalid':null%>" aria-label="Select City" id="location" name="location" placeholder="cíudad"
          <%=action==='view'? "disabled" :''%>>
          <% if (action =='view') { %>
            <option value="<%=user.locationID%>"><%=user.locationName%></option>
          <% } else if (action=='edit') { %>
              <option value=""></option>
            <% for( locality of localities) { %>
              <option value='<%=locality.localityID%>' <%=(locals.user && user.locationID===locality.localityID) ? "selected" : "" %>>
                <%= locality.localityName %>
              </option>
              <% } %>
          <% } %>
        </select>  
          <label for="location">Ciudad</label>
          <% if (locals.errors && errors.location) { %>
            <div class="invalid-feedback">
              <%= errors.location.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-location"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <input type="number" class="form-control registration-field <%=locals.errors && errors.postalCode ? 'is-invalid':null %> " id="postalCode" name="postalCode" placeholder="Código Postal" value="<%= locals.old && old.postalCode ? old.postalCode : action == 'edit' || action=='view' ? user.postalCode :null %>" <%=action==='view'? "disabled":''%>/>
          <label for="postalCode">Código Postal</label>
          <% if (locals.errors && errors.postalCode) { %>
            <div class="invalid-feedback">
              <%= errors.postalCode.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-postalCode"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <input type="text" class="form-control registration-field <%=locals.errors && errors.address ? 'is-invalid':null %> " id="address" name="address" placeholder="Dirección" value="<%= locals.old && old.address ? old.address : action == 'edit' || action=='view' ? user.address :null %>" <%=action==='view'? "disabled":''%>/>
          <label for="postalCode">Dirección</label>
          <% if (locals.errors && errors.address) { %>
            <div class="invalid-feedback">
              <%= errors.address.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-address"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <input type="password" class="form-control registration-field <%=locals.errors && errors.password ? 'is-invalid':null %>" id="password" name="password" placeholder="Password" value='' <%=action==='view'? "hidden disabled":''%>/>
          <label for="password" <%=action==='view'? "hidden disabled":''%>>Contraseña</label>
          <% if (locals.errors && errors.password) { %>
            <div class="invalid-feedback">
              <%= errors.password.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-password"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-floating mb-1">
          <input type="password" class="form-control registration-field <%=locals.errors && errors.confirmPassword ? 'is-invalid': null %>" id="confirmPassword" name="confirmPassword" placeholder="Password" value='' <%=action==='view'? "hidden disabled":''%>/>
          <label for="password" <%=action==='view'? "hidden disabled":''%>>Confirmar Contraseña</label>
          <% if (locals.errors && errors.confirmPassword) { %>
            <div class="invalid-feedback">
              <%= errors.confirmPassword.msg %>
            </div>
            <% } %>
        </div>
        <div class="d-none text-danger" id="error-confirmPassword"></div>
      </div>
      <div class="form-floating mb-1">
        <input type="file" class="form-control <%=locals.errors && errors.image ? 'is-invalid': null %>" id="image" name="image" single value="<%= locals.old && old.image ? old.image : action == 'edit' ? `/img/users/${user.image}` : null %>" <%=action==='view'? "hidden disabled":''%>/>
        <% if (locals.errors && errors.image) { %>
          <div class="invalid-feedback">
            <%= errors.image.msg %>
          </div>
          <% } %>
          <div class="d-none text-danger" id="error-image"></div>
      </div>
    </div>
    <div class="container-fluid d-md-flex container-registration-cta mb-5">
      <div class="registration-cta d-block d-md-inline-block">
        <% if (action=="register" ) { %>
          <a href="/users/login"><button type="button" class="btn-danger btn-lg btn-login me-2">
              Login
            </button></a>
          <% } %>
            <% if (action=="edit" ) { %>
              <a href="/users/"><button type="button" class="btn-danger btn-lg btn-login me-2">
                  Desactivar Cuenta
                </button></a>
              <% } %>
      </div>
      <div class="registration-cta d-block d-md-inline-block"><a href=<%= action!='register' ? `/users/profile/${user.userID}` : "/"%>><button class="btn-secondary btn-lg" type="button">Cancelar</button></a></div>
      <% if (action!='view') { %>
        <div class="registration-cta ms-auto d-block d-md-inline-block"><button class="btn-registration-confirm btn-lg" type="submit">Confirmar</button></div>
      <% } else { %>      
        <div class="registration-cta ms-auto d-block d-md-inline-block"><a href="/users/edit/<%=user.userID%>"><button class="btn ms-auto btn-lg btn-success" type="button">Editar  <i class="fas fa-edit"></i></button></a></div>      
      <% } %>      
    </div>
  </form>
</div>
<script src="/js/getLocalities.js"></script>