<article class="col col-md-4 col-lg-3 mb-4">
    <a class="card-link" href="/posts/details/<%= vehicle.post.postID%>">
        <div class="card h-100">
            <div class="card-img-container">
                <span class="helper">
                    <img src="/img/posts/<%= vehicle.images.length > 0 ? vehicle.images[0].imageURL : "no-image-found.jpeg"%>" class="" alt="..."/>
                </span>
                
            </div>            
            <div class="card-body">
                <h5 class="card-title <% if (vehicle.post.onSale === true) { %>
                    stripped inline
                <% } %>">
                    $ <%= vehicle.post.price.toLocaleString("es-AR") %>
                    
                </h5>
                <% if (vehicle.post.onSale === true) { %>
                    <h5 class="card-title inline">
                        $<%= (vehicle.post.price * (100 - vehicle.post.discount) / 100).toLocaleString("es-AR") %>
                    </h5>
                <% } %>
                <div class="card-details">
                    <div class="row">
                        <div class="col">
                            <p class="card-text bold"><%= vehicle.post.brandName %></p>
                        </div>
                        <div class="col">
                            <p class="card-text bold"><%= vehicle.post.modelName %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text"><%= vehicle.post.versionName %></p>
                        </div>
                        <div class="col">
                            <p class="card-text"><%= vehicle.post.year %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text">
                                <%= vehicle.location.localityName %>, <%= vehicle.location.provinceName %> 
                            </p>
                        </div>
                        <div class="col">
                            <p class="card-text"><%= vehicle.seller.userName %></p>
                        </div>
                    </div>
                </div>
                <p class="card-text bold"><%= vehicle.post.kilometers ? vehicle.post.kilometers.toLocaleString("es-AR") : "N/A" %> km<% if (vehicle.post.kilometers > 0) {%><%= "s" %><%} %></p>
            </div>
        </div>
    </a>
</article>    