<!-- Add Product -->
<%= console.log("estoy en el formulario") %> 
<% if (locals.errors) { %>
    <%= console.log(errors) %> 
<% } %>

<section class="section-add-product" id="add-product-vehicle">
    <form action="/products/<%= action %>/<%= productType %><%= (action === "edit") ? `/${product.adID}?_method=PUT` : "" %> " method="POST" class="add-product" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.vehicleType ? 'is-invalid': null %>" id="productCategory" aria-label="Select category" name="vehicleType">
                        <option value="auto" <%= (locals.product && product.type === "auto")?"selected":"" %> >Auto</option>
                        <option value="camioneta" <%= (locals.product && product.type === "camioneta")?"selected":"" %> >Camioneta</option>
                        <option value="moto" <%= (locals.product && product.type === "moto")?"selected":"" %> >Moto</option>
                        <option value="camion" <%= (locals.product && product.type === "camion")?"selected":"" %> >Camion</option>
                    </select>
                    <label for="vehicleType">Tipo de Vehiculo</label>
                    <% if (locals.errors && errors.vehicleType) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleType.msg %>
                        </div>
                    <% } %>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-2">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.vehicleBrand ? 'is-invalid': null %>" id="vehicleBrand" aria-label="Select brand" name="vehicleBrand" onchange="populateVersions()">
                        <% console.log(brands) %> 
                        <% brands.forEach(brand => { %>
                            <option value='<%=brand.brandID%>' <%= (locals.product && product.brandID === brand.brandID)?"selected":"" %>>
                                <%= brand.brand_name %>
                            </option>
                            <% }) %>
                    </select>
                    <label for="vehicleBrand">Marca</label>
                    <% if (locals.errors && errors.userName) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleBrand.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.vehicleModel ? 'is-invalid': null %>" id="vehicleModel" aria-label="Select model" name="vehicleModel">
                        
                    </select>
                    <label for="vehicleModel">Modelo</label>
                    <% if (locals.errors && errors.vechicleModel) { %>
                        <div class="invalid-feedback">
                          <%= errors.vechicleModel.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-2">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.vehicleYear ? 'is-invalid': null %>" id="vehicleYear" aria-label="Select Year" name="vehicleYear">
                        <% for(let i=2021;i>=1900;i--){%>
                            <option value='<%=i%>' <%= (locals.product && product.year === i) ? "selected" : "" %>>
                                <%=i%>
                            </option>
                            <% } %>
                    </select>
                    <label for="vehicleYear">Año</label>
                    <% if (locals.errors && errors.vehicleYear) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleYear.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.vehicleVersion ? 'is-invalid': null %>" id="vehicleVersion" aria-label="Select version" name="vehicleVersion">
                        
                    </select>
                    <label for="vehicleVersion">Versión</label>
                    <% if (locals.errors && errors.vehicleVersion) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleVersion.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1 <%=locals.errors && errors.vehicleState ? 'is-invalid': null %>" id="vehicleState" aria-label="Select Part State">
                    <p>Estado</p>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="vehicleState" id="vehicleStateNew" value="Nuevo" <%= (locals.product && product.state === "Nuevo") ? "checked" : "" %>>
                        <label for="vehicleStateNew">Nuevo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="vehicleState" id="vehicleStateUsed" value="Usado" <%= (locals.product && product.state === "Usado") ? "checked" : "" %>>
                        <label for="vehicleStateUsed">Usado</label>
                    </div>
                </div>
                <% if (locals.errors && errors.vehicleState) { %>
                    <div class="invalid-feedback">
                      <%= errors.vehicleState.msg %>
                    </div>
                <% } %>
            </div>
            <!--
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    
                    <div name="rating" id="rating">
                        <p>Rating</p>
                        <span>
                            <label for="">
                                <input type="radio" name="rating" value="1" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="2" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="3" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="4" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="5" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                        </span>
                    </div>
                    
                    <input type="number" name="rating" id="rating">
                    <label for="rating">Rating</label>
                </div>
            </div>
            -->
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control <%=locals.errors && errors.rating ? 'is-invalid': null %>" placeholder="" id="rating" name="rating"
                    value="<%= (locals.product && product.rating) ? product.rating : "" %>"></input>
                    <label for="rating">Rating      
                        <% if (locals.product && product.rating) { %>
                            <% for( let i = 0; i < product.rating; i++ ) { %>
                                <i class="fas fa-star"></i>
                            <% } %>
                            <% if (product.rating < 5 ) { %>
                                <% for( let i = 0; i < (5 - product.rating); i++ ) { %>
                                    <i class="far fa-star"></i>
                                <% } %>
                            <% } %>
                        <% } %>                        
                        <% if (!locals.product) { %>
                            <% for( let i = 0; i < 5; i++ ) { %>
                                <i class="far fa-star"></i>
                            <% } %>
                        <% } %>

                    </label>
                    <% if (locals.errors && errors.rating) { %>
                        <div class="invalid-feedback">
                          <%= errors.rating.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.vehicleGearType ? 'is-invalid': null %>" id="vehicleGearType" aria-label="Select Year" name="vehicleGearType">
                        <option value="automática" <%= (locals.product && product.gearType === "automática") ? "selected" : "" %>>Automática</option>
                        <option value="manual" <%= (locals.product && product.gearType === "manual") ? "selected" : "" %>>Manual</option>
                    </select>
                    <label for="vehicleGearType">Caja de cambios</label>
                    <% if (locals.errors && errors.vehicleGearType) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleGearType.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control <%=locals.errors && errors.vehicleKMs ? 'is-invalid': null %>" placeholder="" id="vehicleKMs" name="vehicleKMs" value="<%= locals.product && product.kilometers %>"></input>
                    <label for="vehicleKMs">Kilometros</label>
                    <% if (locals.errors && errors.vehicleKMs) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleKMs.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control <%=locals.errors && errors.vehiclePrice ? 'is-invalid': null %>" placeholder="" id="vehiclePrice" name="vehiclePrice" value="<%= locals.product && product.price %>"></input>
                    <label for="vehiclePrice">Precio</label>
                    <% if (locals.errors && errors.vehiclePrice) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehiclePrice.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" name="discount" id="vehicleDiscount" class="form-control <%=locals.errors && errors.discount ? 'is-invalid': null %>" value="<%= (locals.product && product.onSale) ? product.onSale.discount : 0 %>">
                    <label for="discount">Descuento %</label>
                    <% if (locals.errors && errors.vehicleDiscount) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleDiscount.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    <select class="form-select" id="vehicleColor" aria-label="Select Color" name="vehicleColor">
                        <option value="Blanco">Blanco</option>
                        <option value="Negro">Negro</option>
                        <option value="Gris">Gris</option>
                    </select>
                    <label for="VehicleColor">Color Exterior</label>
                    <% if (locals.errors && errors.vehicleColor) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleColor.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.vehicleColorInterior ? 'is-invalid': null %>" id="vehicleColorInterior" aria-label="Select Color"
                        name="vehicleColorInterior">
                        <option value="white">Blanco</option>
                        <option value="black">Negro</option>
                    </select>
                    <label for="VehicleColorInterior">Color Interior</label>
                    <% if (locals.errors && errors.vehicleColorInterior) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleColorInterior.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control <%=locals.errors && errors.vehicleProvince ? 'is-invalid': null %>" name="vehicleProvince" id="vehicleProvince" value="<%= (locals.product && product.location) ? product.location.province : "" %>">
                    <label for="vehicleProvince">Provincia</label>
                    <% if (locals.errors && errors.vehicleProvince) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleProvince.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control <%=locals.errors && errors.vehicleCity ? 'is-invalid': null %>" name="vehicleCity" id="vehicleCity" value="<%= (locals.product && product.location) ? product.location.city : "" %>">
                    <label for="vehicleCity">Ciudad</label>
                    <% if (locals.errors && errors.vehicleCity) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleCity.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control  <%=locals.errors && errors.vehicleNeighbourhood ? 'is-invalid': null %>" name="vehicleNeighbourhood" id="vehicleNeighbourhood" value="<%= (locals.product && product.location) ? product.location.neighbourhood : "" %>">
                    <label for="vehicleNeighbourhood">Barrio</label>
                    <% if (locals.errors && errors.vehicleNeighbourhood) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleNeighbourhood.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control <%=locals.errors && errors.vehiclePostalCode ? 'is-invalid': null %>" name="vehiclePostalCode" id="vehiclePostalCode" value="<%= (locals.product && product.location) ? product.location.postalCode : "" %>">
                    <label for="vehiclePostalCode">Código Postal</label>
                    <% if (locals.errors && errors.vehiclePostalCode) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehiclePostalCode.msg %>
                        </div>
                    <% } %>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-floating mb-1">
                    <textarea class="form-control <%=locals.errors && errors.vehicleDescription? 'is-invalid': null %>" name="vehicleDescription" id="vehicleDescription"><%= (locals.product && product.description) ? product.description : "" %></textarea>
                    <label for="vehicleDescription">Descripción</label>
                    <% if (locals.errors && errors.vehicleDescription) { %>
                        <div class="invalid-feedback">
                          <%= errors.vehicleDescription.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% if (action === "create") { %>
            <div class="row">
                <div class="col-md">
                    <div class="form-floating mb-1">
                        <input type="file" name="productImages" id="productImages" class="form-control input-file" multiple>
                        <label for="productImages">Seleccione hasta 5 imágenes para su producto</label>
                        <% if (locals.errors && errors.productImages) { %>
                            <div class="invalid-feedback">
                              <%= errors.productImages.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } else if (action === "edit" && locals.product && product.imageURLs[0] && product.imageURLs[0] !== "no-image-found.jpeg") { %>
            <div class="row">
                <div class="form-floating mb-1">
                    <input type="file" name="productImages" id="productImages" class="form-control input-file <%=locals.errors && errors.vehicleState ? 'is-invalid': null %>" multiple>
                    <label for="productImages">Seleccione imágenes (hasta 5 en total) para su producto</label>
                </div>
                <div class="current-product-images">
                    <p>Imagenes actuales</p>
                <% for( let i = 0; i < 5; i++ ) { %>
                    <div class="current-product-image-container">
                        <ul>
                            <li>
                                <% if (locals.product && product.imageURLs[i] && product.imageURLs[i] !== "no-image-found.jpeg") { %>
                                    <img src="<%= product.imageURLs.length && (product.imageURLs)[i].includes("http") ? product.imageURLs[i] : `/img/products/${product.imageURLs[i]}` %>" alt="image-product-<%= i %>" class="edit-product-img">
                                    <a class="btn btn-danger" href="<%- `/products/deleteImage/${productType}/${productID}?image=${product.imageURLs[i]}` %>">
                                        Borrar
                                    </a>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                <% } %>
                </div>
            </div>
        <% } %>
        <!-- Buttons Section -->
        <div class="container-fluid d-flex container-add-product-cta">
            <div class="add-product-cta"><button class="add-product-reset btn-lg" type="reset">Resetear</button></div>
            <div class="add-product-cta"><button class="add-product-confirm btn-lg" type="submit" name="submit" value="publish">Guardar y Publicar</button></div>          
            <div class="add-product-cta"><button class="add-product-save btn-lg" type="submit" name="submit" value="save">Guardar</button></div>
            
        </div>
    </form>
    <% if (action === "edit") { %>
        <form action="/products/delete/<%= productType %>/<%= product.adID %>?_method=DELETE" method="POST">
            <div class="add-product-cta"><button class="add-product-delete btn-lg" type="submit" name="delete">Borrar</button></div>
        </form>
    <% } %>
</section>
<script type="application/javascript">
    function populateVersions() {
        let brandID = document.getElementById("vehicleBrand").value;
        alert(brandID);
        let versionDropDown = document.getElementById("vehicleVersion");
        //versionDropDown.find('option').not(':first').remove()
        for(let i= 0; i < versionDropDown.childElementCount; i++){
            versionDropDown.removeChild(i)
        }            
        //$("#droplist").empty();
        fetch("/api/versions?brandID=" + brandID)
        .then(  
            function(response) {  
                
                if (response.status !== 200) {  
                    console.warn('Looks like there was a problem. Status Code: ' + response.status);
                    return;
                }
            // Examine the text in the response  
                response.json().then(function(version) {
                    let option;
                    for (let i = 0; i < version.length; i++) {
                        option = document.createElement('option');
                        option.text = version[i].version_name;
                        option.value = version[i].versionID;
                        versionDropDown.
                        versionDropDown.add(option);
                    }
                });
            }
        )
        .catch(error => {
            console.log(error);
        });
    }
</script>