<!-- Add Product -->
<%= console.log("estoy en el formulario") %> 
<% if (locals.errors) { %>
    <%= console.log(errors) %> 
<% } %>

<section class="section-add-product" id="add-product-vehicle">
    <form action="/posts/<%= action %>/<%= productType %><%= (action === "edit") ? `/${post.postID}?_method=PUT` : "" %> " method="POST" class="add-product" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.type ? 'is-invalid': null %>" id="type" aria-label="Select vehicle type" name="type">
                        <option value="car" <%= (locals.post && post.type === "car") ? "selected" : "" %> >Auto</option>
                        <option value="pickup" <%= (locals.post && post.type === "pickup") ? "pickup" : "" %> >Camioneta</option>
                        <option value="motorcycle" <%= (locals.post && post.type === "motorcycle") ? "motorcycle" : "" %> >Moto</option>
                        <option value="truck" <%= (locals.post && post.type === "truck") ? "truck" : "" %> >Camion</option>
                    </select>
                    <label for="type">Tipo de Vehículo</label>
                    <% if (locals.errors && errors.type) { %>
                        <div class="invalid-feedback">
                          <%= errors.type.msg %>
                        </div>
                    <% } %>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-2">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.brandID ? 'is-invalid': null %>" id="brand" aria-label="Select brand" name="brandID">
                        <option value=""></option>
                        <% for(brand of brands){ %>
                            <option value='<%= brand.brandID %>' <%= (locals.post && post.brandID === brand.brandID) ? "selected" : "" %>>
                                <%= brand.brandName %>
                            </option>
                            <% } %>
                    </select>
                    <label for="brand">Marca</label>
                    <% if (locals.errors && errors.brandID) { %>
                        <div class="invalid-feedback">
                          <%= errors.brandID.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.modelID ? 'is-invalid': null %>" id="model" aria-label="Select model" name="modelID">
                    </select>
                    <label for="model">Modelo</label>
                    <% if (locals.errors && errors.modelID) { %>
                        <div class="invalid-feedback">
                          <%= errors.modelID.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-2">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.year ? 'is-invalid': null %>" id="year" aria-label="Select Year" name="year">
                        <% for(let i=2021;i>=1900;i--){%>
                            <option value='<%=i%>' <%= (locals.post && post.year === i) ? "selected" : "" %>>
                                <%=i%>
                            </option>
                            <% } %>
                    </select>
                    <label for="year">Año</label>
                    <% if (locals.errors && errors.year) { %>
                        <div class="invalid-feedback">
                          <%= errors.year.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.versionID ? 'is-invalid': null %>" id="version" aria-label="Select version" name="versionID">
                    </select>
                    <label for="version">Versión</label>
                    <% if (locals.errors && errors.versionID) { %>
                        <div class="invalid-feedback">
                          <%= errors.versionID.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1 <%=locals.errors && errors.state ? 'is-invalid': null %>" id="state" aria-label="Select Part State">
                    <p>Estado</p>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="state" id="stateNew" value="Nuevo" <%= (locals.post && post.state === "Nuevo") ? "checked" : "" %>>
                        <label for="stateNew">Nuevo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="state" id="stateUsed" value="Usado" <%= (locals.post && post.state === "Usado") ? "checked" : "" %>>
                        <label for="stateUsed">Usado</label>
                    </div>
                </div>
                <% if (locals.errors && errors.state) { %>
                    <div class="invalid-feedback">
                      <%= errors.state.msg %>
                    </div>
                <% } %>
            </div>
            <!--
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    
                    <div name="rating" id="rating">
                        <p>Rating</p>
                        <span>
                            <label for="">
                                <input type="radio" name="rating" value="1" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="2" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="3" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="4" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="5" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                        </span>
                    </div>
                    
                    <input type="number" name="rating" id="rating">
                    <label for="rating">Rating</label>
                </div>
            </div>
            -->
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control <%=locals.errors && errors.stock ? 'is-invalid': null %>" placeholder="" id="stock" name="stock" value="<%= locals.post && post.stock %>"></input>
                    <label for="stock">Stock</label>
                    <% if (locals.errors && errors.stock) { %>
                        <div class="invalid-feedback">
                          <%= errors.stock.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control <%=locals.errors && errors.rating ? 'is-invalid': null %>" placeholder="" id="rating" name="rating"
                    value="<%= (locals.post && post.rating) ? post.rating : "" %>"></input>
                    <label for="rating">Rating      
                        <% if (locals.post && post.rating) { %>
                            <% for( let i = 0; i < post.rating; i++ ) { %>
                                <i class="fas fa-star"></i>
                            <% } %>
                            <% if (post.rating < 5 ) { %>
                                <% for( let i = 0; i < (5 - post.rating); i++ ) { %>
                                    <i class="far fa-star"></i>
                                <% } %>
                            <% } %>
                        <% } %>                        
                        <% if (!locals.product) { %>
                            <% for( let i = 0; i < 5; i++ ) { %>
                                <i class="far fa-star"></i>
                            <% } %>
                        <% } %>

                    </label>
                    <% if (locals.errors && errors.rating) { %>
                        <div class="invalid-feedback">
                          <%= errors.rating.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.gearType ? 'is-invalid': null %>" id="gearType" aria-label="Select Year" name="gearType">
                        <option value="automática" <%= (locals.post && post.gearType === "automática") ? "selected" : "" %>>Automática</option>
                        <option value="manual" <%= (locals.post && post.gearType === "manual") ? "selected" : "" %>>Manual</option>
                    </select>
                    <label for="gearType">Caja de cambios</label>
                    <% if (locals.errors && errors.gearType) { %>
                        <div class="invalid-feedback">
                          <%= errors.gearType.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control <%=locals.errors && errors.kilometers ? 'is-invalid': null %>" placeholder="" id="kilometers" name="kilometers" value="<%= locals.post && post.kilometers %>"></input>
                    <label for="kilometers">Kilometros</label>
                    <% if (locals.errors && errors.kilometers) { %>
                        <div class="invalid-feedback">
                          <%= errors.kilometers.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control <%=locals.errors && errors.price ? 'is-invalid': null %>" placeholder="" id="price" name="price" value="<%= locals.post && post.price %>"></input>
                    <label for="price">Precio</label>
                    <% if (locals.errors && errors.price) { %>
                        <div class="invalid-feedback">
                          <%= errors.price.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" name="discount" id="discount" class="form-control <%=locals.errors && errors.discount ? 'is-invalid': null %>" value="<%= (locals.post && post.discount) ? post.discount : 0 %>">
                    <label for="discount">Descuento %</label>
                    <% if (locals.errors && errors.discount) { %>
                        <div class="invalid-feedback">
                          <%= errors.discount.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <select class="form-select" id="color" aria-label="Select Color" name="color">
                        <option value="Blanco">Blanco</option>
                        <option value="Negro">Negro</option>
                        <option value="Gris">Gris</option>
                    </select>
                    <label for="VehicleColor">Color Exterior</label>
                    <% if (locals.errors && errors.color) { %>
                        <div class="invalid-feedback">
                          <%= errors.color.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.provinceID ? 'is-invalid': null %>" id="province" aria-label="Select province" name="provinceID">
                        <option value=""></option>
                        <% for(province of provinces){ %>
                            <option value='<%=province.provinceID%>' <%= (locals.post && post.provinceID === province.provinceID) ? "selected" : "" %>>
                                <%= province.provinceName %>
                            </option>
                            <% } %>
                    </select>
                    <label for="province">Provincia</label>
                    <% if (locals.errors && errors.provinceID) { %>
                        <div class="invalid-feedback">
                          <%= errors.provinceID.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <select class="form-select <%=locals.errors && errors.locationID ? 'is-invalid': null %>" id="location" aria-label="Select city" name="locationID">
                    </select>
                    <label for="location">Ciudad</label>
                    <% if (locals.errors && errors.locationID) { %>
                        <div class="invalid-feedback">
                          <%= errors.locationID.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control <%=locals.errors && errors.postalCode ? 'is-invalid': null %>" name="postalCode" id="postalCode" value="<%= (locals.post && post.postalCode) ? post.postalCode : "" %>">
                    <label for="postalCode">Código Postal</label>
                    <% if (locals.errors && errors.postalCode) { %>
                        <div class="invalid-feedback">
                          <%= errors.postalCode.msg %>
                        </div>
                    <% } %>
                </div>                
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-1">
                <input type="text" class="form-control <%=locals.errors && errors.title ? 'is-invalid': null %>" name="title" id="title" value="<%= (locals.post && post.title) ? post.title : "" %>">
                <label for="title">Título</label>
                <% if (locals.errors && errors.title) { %>
                    <div class="invalid-feedback">
                      <%= errors.title.msg %>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-floating mb-1">
                    <textarea class="form-control <%=locals.errors && errors.description ? 'is-invalid': null %>" name="description" id="description"><%= (locals.post && post.description) ? post.description : "" %></textarea>
                    <label for="description">Descripción</label>
                    <% if (locals.errors && errors.description) { %>
                        <div class="invalid-feedback">
                          <%= errors.description.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% if (action === "create") { %>
            <div class="row">
                <div class="col-md">
                    <div class="form-floating mb-1">
                        <input type="file" name="images" id="images" class="form-control input-file" multiple>
                        <label for="images">Seleccione hasta 5 imágenes para su producto</label>
                        <% if (locals.errors && errors.images) { %>
                            <div class="invalid-feedback">
                              <%= errors.images.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } else if (action === "edit" && locals.post && post.imageURLs[0] && post.imageURLs[0] !== "no-image-found.jpeg") { %>
            <div class="row">
                <div class="form-floating mb-1">
                    <input type="file" name="images" id="images" class="form-control input-file <%=locals.errors && errors.images ? 'is-invalid': null %>" multiple>
                    <label for="images">Seleccione imágenes (hasta 5 en total) para su producto</label>
                </div>
                <div class="current-product-images">
                    <p>Imagenes actuales</p>
                <% for( let i = 0; i < 5; i++ ) { %>
                    <div class="current-product-image-container">
                        <ul>
                            <li>
                                <% if (locals.post && post.images[i] && post.images[i] !== "no-image-found.jpeg") { %>
                                    <img src="<%= post.images.length && (post.images)[i].includes("http") ? post.images[i] : `/img/posts/${post.images[i]}` %>" alt="image-product-<%= i %>" class="edit-product-img">
                                    <a class="btn btn-danger" href="<%- `/posts/deleteImage/${productType}/${post.postID}?image=${post.images[i]}` %>">
                                        Borrar
                                    </a>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                <% } %>
                </div>
            </div>
        <% } %>
        <!-- Buttons Section -->
        <div class="container-fluid d-flex container-add-product-cta">
            <div class="add-product-cta"><button class="add-product-reset btn-lg" type="reset">Resetear</button></div>
            <div class="add-product-cta"><button class="add-product-confirm btn-lg" type="submit" name="submit" value="publish">Guardar y Publicar</button></div>          
            <div class="add-product-cta"><button class="add-product-save btn-lg" type="submit" name="submit" value="save">Guardar</button></div>
            
        </div>
    </form>
    <% if (action === "edit") { %>
        <form action="/posts/delete/<%= productType %>/<%= post.postID %>?_method=DELETE" method="POST">
            <div class="add-product-cta"><button class="add-product-delete btn-lg" type="submit" name="delete">Borrar</button></div>
        </form>
    <% } %>
</section>
<script src="/js/getModels.js"></script>
<script src="/js/getVersions.js"></script>
<script src="/js/getLocalities.js"></script>