<!-- Add Product -->
<section class="section-add-product" id="add-product-vehicle">
    <form action="/products/<%= action %>/<%= productType %><%= (action === "edit") ? `/${product.adID}?_method=PUT` : "" %> " method="POST" class="add-product">
        <div class="row">
            <div class="col-md">
                <div class="form-floating mb-1">
                    <select class="form-select" id="productCategory" aria-label="Select category" name="vehicleType">
                        <option value="auto" <%= (product.type === "auto")?"selected":"" %> >Auto</option>
                        <option value="camioneta" <%= (product.type === "camioneta")?"selected":"" %> >Camioneta</option>
                        <option value="moto" <%= (product.type === "moto")?"selected":"" %> >Moto</option>
                        <option value="camion" <%= (product.type === "camion")?"selected":"" %> >Camion</option>
                    </select>
                    <label for="vehicleType">Tipo de Vehiculo</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-2">
                <div class="form-floating mb-1">
                    <select class="form-select" id="vehicleBrand" aria-label="Select brand" name="vehicleBrand">
                        <% brands.forEach(brand => { %>
                            <option value='<%=brand%>' <%= (product.brand === brand)?"selected":"" %>>
                                <%= brand %>
                            </option>
                            <% }) %>
                    </select>
                    <label for="vehicleBrand">Marca</label>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <select class="form-select" id="vehicleModel" aria-label="Select model" name="vehicleModel">
                        <% mmav.forEach(model => {%>
                            <option value='<%= model %>' <%= (product.model === model) ? "selected" : "" %>>
                                <%= model %>
                            </option>
                            <% }) %>
                    </select>
                    <label for="vehicleModel">Modelo</label>
                </div>
            </div>
            <div class="col-md col-lg-2">
                <div class="form-floating mb-1">
                    <select class="form-select" id="vehicleYear" aria-label="Select Year" name="vehicleYear">
                        <% for(let i=2021;i>=1900;i--){%>
                            <option value='<%=i%>' <%= (product.year === i) ? "selected" : "" %>>
                                <%=i%>
                            </option>
                            <% } %>
                    </select>
                    <label for="vehicleYear">Año</label>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <select class="form-select" id="vehicleVersion" aria-label="Select version" name="vehicleVersion">
                        <% mmav.forEach(version => {%>
                            <option value='<%= version %>' <%= (product.version === version) ? "selected" : "" %>>
                                <%= version %>
                            </option>
                        <% }) %>
                    </select>
                    <label for="vehicleVersion">Versión</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1" id="vehicleState" aria-label="Select Part State">
                    <p>Estado</p>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="vehicleState" id="vehicleStateNew" value="Nuevo" <%= (product.state === "Nuevo") ? "checked" : "" %>>
                        <label for="vehicleStateNew">Nuevo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="vehicleState" id="vehicleStateUsed" value="Usado" <%= (product.state === "Usado") ? "checked" : "" %>>
                        <label for="vehicleStateUsed">Usado</label>
                    </div>
                </div>
            </div>
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    <div name="rating" id="rating">
                        <p>Rating</p>
                        <span>
                            <label for="">
                                <input type="radio" name="rating" value="1" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="2" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="3" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="4" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                            <label for="">
                                <input type="radio" name="rating" value="5" class="hide">
                                <i class="far fa-star"></i>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <select class="form-select" id="vehicleGearType" aria-label="Select Year" name="vehicleGearType">
                        <option value="automática" <%= (product.gearType === "automática") ? "selected" : "" %>>Automática</option>
                        <option value="manual" <%= (product.gearType === "manual") ? "selected" : "" %>>Manual</option>
                    </select>
                    <label for="vehicleYear">Caja de cambios</label>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control" placeholder="" id="vehicleKMs" name="vehicleKMs" value="<%= product.kilometers %>"></input>
                    <label for="vehicelKMs">Kilometros</label>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" class="form-control" placeholder="" id="vehiclePrice" name="vehiclePrice" value="<%= product.price %>"></input>
                    <label for="vehicelPrice">Precio</label>
                </div>
            </div>
            <div class="col-md col-lg-3">
                <div class="form-floating mb-1">
                    <input type="number" name="discount" id="vehicleDiscount" class="form-control" value="<%= (product.onSale) ? product.onSale.discount : 0 %>">
                    <label for="discount">Descuento %</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    <select class="form-select" id="vehicleColor" aria-label="Select Color" name="vehicleColor">
                        <option value="Blanco">Blanco</option>
                        <option value="Negro">Negro</option>
                        <option value="Gris">Gris</option>
                    </select>
                    <label for="VehicleColor">Color Exterior</label>
                </div>
            </div>
            <div class="col-md col-lg-6">
                <div class="form-floating mb-1">
                    <select class="form-select" id="vehicleColorInterior" aria-label="Select Color"
                        name="vehicleColorInterior">
                        <option value="white">Blanco</option>
                        <option value="black">Negro</option>
                    </select>
                    <label for="VehicleColorInterior">Color Interior</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" name="vehicleProvince" id="vehicleProvince" value="<%= (product.location) ? product.location.province : "" %>">
                    <label for="vehicleProvince">Provincia</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" name="vehicleCity" id="vehicleCity" value="<%= (product.location) ? product.location.city : "" %>">
                    <label for="vehicleCity">Ciudad</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" name="vehicleNeighbourhood" id="vehicleNeighbourhood" value="<%= (product.location) ? product.location.neighbourhood : "" %>">
                    <label for="vehicleNeighbourhood">Barrio</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" name="vehiclePostalCode" id="vehiclePostalCode" value="<%= (product.location) ? product.location.postalCode : "" %>">
                    <label for="vehiclePostalCode">Código Postal</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <input type="url" name="vehicleImage1" id="vehicleImage1" class="form-control" value="<%= (product.imageURLs) ? product.imageURLs[0] : "" %>">
                    <label for="vehicleImage1">Image URL</label>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <input type="url" name="vehicleImage2" id="vehicleImage2" class="form-control" value="<%= (product.imageURLs) ? product.imageURLs[1] : "" %>">
                    <label for="vehicleImage2">Image URL</label>
                </div>
            </div>
            <div class="col-md col-lg-4">
                <div class="form-floating mb-1">
                    <input type="url" name="vehicleImage3" id="vehicleImage3" class="form-control" value="<%= (product.imageURLs) ? product.imageURLs[2] : "" %>">
                    <label for="vehicleImage3">Image URL</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-floating mb-1">
                    <textarea class="form-control" name="vehicleDescription" id="vehicleDescription"><%= product.description %></textarea>
                    <label for="vehicelDescription">Descripción</label>
                </div>
            </div>
        </div>
        <!-- Buttons Section -->
        <div class="container-fluid d-flex container-add-product-cta">
            <div class="add-product-cta"><button class="add-product-reset btn-lg" type="reset">Resetear</button></div>
            <div class="add-product-cta"><button class="add-product-confirm btn-lg" type="submit" name="submit" value="publish">Guardar y Publicar</button></div>          
            <div class="add-product-cta"><button class="add-product-save btn-lg" type="submit" name="submit" value="save">Guardar</button></div>
            
        </div>
    </form>
    <% if (action === "edit") { %>
        <form action="/products/delete/<%= productType %>/<%= product.adID %>?_method=DELETE" method="POST">
            <div class="add-product-cta"><button class="add-product-delete btn-lg" type="submit" name="delete">Borrar</button></div>
        </form>
    <% } %>
</section>