<% vehicles.forEach(vehicle => { %> <% if (vehicle.onSale.status==true) { %>
<article class="col col-md-4 col-lg-3 mb-4">
	<a
		class="card-link"
		href="/products/<%= vehicle.productType %>/details/<%= vehicle.adID%>"
	>
		<div class="card h-100">
			<img
				src="<%=vehicle.imageURLs[0]%>"
				class="card-img-top"
				alt="..."
			/>
			<div class="card-body">
				<h5 class="card-title">$ <%= vehicle.price%></h5>
				<div class="card-details">
					<div class="row">
						<div class="col">
							<p class="card-text bold"><%= vehicle.brand %></p>
						</div>
						<div class="col">
							<p class="card-text bold"><%= vehicle.model %></p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p class="card-text"><%= vehicle.version %></p>
						</div>
						<div class="col">
							<p class="card-text"><%= vehicle.year %></p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p class="card-text">
								<%= vehicle.location.neighbourhood %>, <%=
								vehicle.location.city %>,<%=
								vehicle.location.province %>
							</p>
						</div>
						<div class="col">
							<p class="card-text"><%= vehicle.seller.name %></p>
						</div>
					</div>
				</div>
				<p class="card-text bold"><%= vehicle.kilometers%> kms</p>
			</div>
		</div>
	</a>
</article>
<% } %> <% }) %>
