<% let styles = ['<link rel="stylesheet" href="/css/styles-header.css"/>', '<link rel="stylesheet" href="/css/styles-footer.css"/>', '<link rel="stylesheet" href="/css/styles-mediaquery-medium-large.css" media="(min-width: 768px"/>', '<link rel="stylesheet" href="/css/cartStyles.css" />','<link rel="stylesheet" href="/css/cartStyles-mediaQuery.css" media="(min-width: 768px)">'] %> 
<%- include("./partials/head", {"styles": styles}) %> 
<%- include("./partials/header") %>
<main>
    <section class="cart-container">        
        <% if (items.length>0) { %>
        <% items.forEach(item=> { %>
            <div class="cart-item-container">
                <form action="/cart/updateItem/<%=item.postID%>?_method=PUT" method="POST">
                    <article class="cart-item">
                        <div class="cart-item-image">
                            <img src="<%=(item.postData.images[0] ? item.postData.images[0].imageURL: null)%>" alt="" srcset="">
                        </div>
                        <div class="cart-item-details-container">
                            <h2 class="cart-item-title">
                                <%= item.postData.post.title %>
                            </h2>
                            <p class="cart-item-description">
                                <%= item.postData.post.description %>
                            </p>
                            <div class="cart-item-shipping-container">
                                <p class="cart-item-shipping-label">Costo de envío: <span class="cart-item-shipping-price">$200</span></p>
                            </div>
                            <p class="cart-item-seller">
                                <%= item.postData.seller.userName %>
                            </p>
                        </div>
                        <div class="cart-item-quantity-container">
                            <div class="cart-item-quantity">
                                <a href="#"><i class="fas fa-minus"></i></a>
                                <input type="text" name="quantity" id="quantity" value="<%= item.quantity %>">
                                <a href="#"><i class="fas fa-plus"></i></a>
                                <p class="cart-item-available-quantity">
                                    <%= item.postData.post.stock %>
                                </p>
                            </div>
                            <h2 class="cart-item-price">$ <%= item.price.toLocaleString("es-AR") %>
                            </h2>
                        </div>
                        <div class="cart-item-button-container">
                            <button class="cart-item-update-button btn btn-success" type="submit">Actualizar</button>
                        </div>
                    </article>
                </form>
                <form action="/cart/removeItem/<%=item.postID%>" method="GET" class="cart-delete-button-container d-flex">
                    <button class="cart-delete-button ms-auto btn btn-danger">Eliminar</button></a>
                </form>
            </div>
            <% }) %>
            <% } else { %>
                <div class="cart-item-container">
                    <div><h1>Aun no agregaste items a su carro. </h1><a href="/"><button class="btn - btn-danger">Mirar los productos</button></a></div>
                </div>
            <% } %>
    </section>
</main>
<footer class="container-fluid text-light text-center sticky-bottom">
        <p><i class="far fa-copyright"></i> REAL CARS 2021</p>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>