<% let styles = ['<link rel="stylesheet" href="/css/styles-header.css"/>', '<link rel="stylesheet" href="/css/styles-footer.css"/>', '<link rel="stylesheet" href="/css/styles-mediaquery-medium-large.css" media="(min-width: 768px"/>', '<link rel="stylesheet" href="/css/productStyles.css"/>', '<link rel="stylesheet" href="/css/productStyles-mediaQuery.css" media="(min-width: 768px"/>'] %> 
<%- include("./partials/head", {"styles": styles}) %> 
<%- include("./partials/header") %>
<main>
    <section id="top">
        <div id="productPhotoCarousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <% for( let i = 0; i < product.imageURLs.length; i++ ) { %>
                    <li data-bs-target="#productPhotoCarousel" data-bs-slide-to=" <%= i %> "  <% if(i === 0){ %> <%- 'class="active"' %> <% } %> ></li>
                <% } %>
              
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="<%= (product.imageURLs)[0] %>" class="d-block w-100" alt="...">
              </div>
              <% for( let i = 1; i < product.imageURLs.length; i++ ) { %>
                <div class="carousel-item">
                    <img src="<%= (product.imageURLs)[i] %>" class="d-block w-100" alt="...">
                  </div>
              <% } %>
            </div>
            <a class="carousel-control-prev" href="#productPhotoCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#productPhotoCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
        <div id="mainDetails">
            <h2 class="price">$ <%= product.price.toLocaleString("es-AR") %> </h2>
            <p class="date">Publicado el <%= product.publishedDate %> </p>
            <h2 class="title"><%= product.title %> </h2>
            <p class="product-state">Usado</p>
            <p class="location">Ubicación: <%= product.location.neighbourhood %>, <%= product.location.city %> , <%= product.location.province %> </p>
            <% if (productType === "part") { %>
                <p class="product-shipping">Costo de envío <span class="product-shipping-price">$250</span></p> <!-- to be replaced with dynamic data once shipping service cost is implemented -->
            <% } %>
            <div class="rating-container">
                <p id="rating">Rating</p>
                <% for( let i = 0; i < product.rating; i++ ) { %>
                    <i class="fas fa-star"></i>
                <% } %>
                <% if (product.rating < 5 ) { %>
                    <% for( let i = 0; i < (5 - product.rating); i++ ) { %>
                        <i class="far fa-star"></i>
                    <% } %>
                <% } %>
            </div>
            <% if (productType === "vehicle") { %>
                <div class="buttons-container">
                    <button type="button" class="btn btn-primary">Preguntar</button>
                    <button type="button" class="btn btn-secondary">Reservar</button>
                    <button type="button" class="btn btn-success"><i class="fas fa-share-alt"></i> Compartir</button>
                    <i class="far fa-heart"></i>
                </div>
            
            <% } else if (productType === "part") { %>
                <div class="buttons-container">
                    <button type="button" class="btn btn-primary">Comprar</button>
                    <button type="button" class="btn btn-secondary">Preguntar</button>
                    <button type="button" class="btn btn-danger"><i class="fas fa-cart-plus"></i></button>
                    <button type="button" class="btn btn-success"><i class="fas fa-share-alt"></i> Compartir</button>
                    <i class="far fa-heart"></i>
                </div>

                <div class="payment-methods-link">
                    <a data-bs-toggle="modal" data-bs-target="#paymentMethodsModal"><i class="fas fa-credit-card"></i> Medios de pago</a>
                </div>
            <% } %>
        </div>
    </section>
    <section>
        <% if (productType === "vehicle") { %>
            <div id="characteristics">
                <h2>Características principales</h2>
                <table class="table table-striped table-hover" id="attributesTable">
                    <tr>
                        <td>
                            <strong>Marca: </strong><%= product.brand %> 
                        </td>
                        <td>
                            <strong>Modelo: </strong><%= product.model %> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Versión: </strong> <%= product.version %> 
                        </td>
                        <td>
                            <strong>Año: </strong> <%= product.year %> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Kilometraje: </strong> <%= product.kilometers %>
                        </td>
                        <td>
                            <strong>Color: </strong> <%= product.color %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Estado: </strong> <%= product.state %>
                        </td>
                        <td>
                            <strong>Transmisión: </strong> <%= product.gearType %>
                        </td>
                    </tr>
                </table>
            </div>
        <% } %>
        
        <div id="description">
            <h2>Descripción</h2>
            <p>
                <%= product.description %> 
            </p>
        </div>
        <% if (productType === "vehicle") { %>
            <%- include("./partials/vehicleDatasheet") %> 
        <% } %>
        <div id="questions">
            <h2>Preguntale al vendedor</h2>
            <form id="question-form">
                <div class="form-floating">
                    <textarea class="form-control" name="question" id="question"></textarea>
                    <label for="question">Escribí tu respuesta</label>
                </div>
                <button id="askQuestion" type="submit" class="btn btn-primary">Preguntar</button>
            </form>                
            <h2>Preguntas</h2>
            <% questions.forEach(e => { %>
                <p class="question"><%= e.question %> <i class="fas fa-level-down-alt question-arrow"></i></p>
                <p class="answer"><%= e.answer %> </p>
            <% }) %>            
        </div>
        
    </section>
    <section>
        <div class="buttons-container">
            <button type="submit" class="btn btn-primary">Preguntar</button>
            <button type="submit" class="btn btn-secondary">Reservar</button>
            <button type="submit" class="btn btn-danger"><i class="fas fa-cart-plus"></i></button>
            <button type="submit" class="btn btn-success"><i class="fas fa-share-alt"></i> Compartir</button>
            <i class="far fa-heart"></i>
        </div>
    </section>
    <div class="modal" id="paymentMethodsModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Medios de pago</h5>
            </div>
            <div class="modal-body">
                <p>Estas son los distintos medios de pago</p>
            </div>
        </div>
        </div>
    </div>
</main>
<%- include("./partials/footer") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>